.titulo{text-align: center;
    font-style:normal;
    border: ridge cadetblue;
    border-radius: 50px;
    
    border-color: seagreen;
    border-width:  30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
body{background-color: brown;
opacity: 1;}